[Unit]
Description=weekly execute PFL upload script

[Timer]
OnCalendar=weekly
Persistent=true
RandomizedDelaySec=4d

[Install]
WantedBy=timers.target

