[Unit]
Description=weekly execute PFL upload script

[Timer]
OnCalendar=weekly
Persistent=true
RandomizedDelaySec=1w

[Install]
WantedBy=timers.target

