[Unit]
Description=Portage File List upload
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=portage
Group=portage
ExecStart=/usr/bin/pfl

[Install]
WantedBy=multi-user.target
